/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 62px;
    height: 35px;
    transform: rotate(90deg);
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 1;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #D54E4E;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    border-radius: 16px;
    left:1.5px;
    top: 0.15px;
    bottom: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 2 0px 5px #999999;
            box-shadow: 2 0px 5px #999999;
    -webkit-transition: .4s;
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: #7DD866;
    border: 1px solid transparent;
   }
   
   input:checked + .slider:before {
    -webkit-transform: translateX(1.5em);
        -ms-transform: translateX(1.5em);
            transform: translateX(1.5em);
   }

   